body{
	text-align: left;
	background-color: #ddd;
	padding: 30px 0 30px 30px;
}
#input-url{
	margin-bottom:20px;
}

#iframe{
	border: none;
	float:left;
	background: #d3d3d3;
	box-shadow: 0 0 10px #000;
	border-radius: 3px;
}

#controls{
	position: fixed;
	top:30px;
	right:30px;
	width:130px;
	border:1px solid #aaa;
	text-align: left;
	padding:10px 5px;
	background: #d3d3d3;
	box-shadow: 0 0 10px #000;
	border-radius: 3px;

	.header{
		text-align: center;
	}
	
	.body{
		button{
			margin-bottom:10px;
			&#add-resolution{
				margin-bottom:0;
			}
		}
		#add-res-inputs{
			display:none;
			input{
				width:36px;
				display: inline-block;
			}
		}
		#orientation-buttons{
			margin-top:10px;
		}
	}
}

.clear {
	clear: both;
}
