body{
	text-align: left;
	background-color: #ddd;
	padding: 30px 0 30px 30px;
}
#input-url{
	margin-bottom:20px;
}
#iframe{
	/*border: 1px solid #aaa;*/
	border: none;
	float:left;
}

#controls{
	float:right;
	margin-right: 30px;
	height:300px;
	width:100px;
	border:1px solid #aaa;
	text-align: center;
	padding:10px 5px;
}
#controls button{
	margin-bottom:10px;
}

.clear {
	clear: both;
}
