body{
	/*text-align: center;*/
	text-align: left;
	background-color: #ddd;
	padding: 30px 0 30px 30px;
}
#input-url{
	margin-bottom:20px;
}
#iframe{
	/*border: 1px solid #aaa;*/
	border: none;
	background: #d3d3d3;
	box-shadow: 0 0 10px #000;
	border-radius: 3px;
}
#form-url{
	display: none;
}

#controls{
	position: fixed;
	top:30px;
	right:30px;
	height:300px;
	width:100px;
	border:1px solid #aaa;
	text-align: left;
	padding:10px 5px;
	background: #d3d3d3;
	box-shadow: 0 0 10px #000;
	border-radius: 3px;
}
#controls button{
	margin-bottom:10px;
}

.clear {
	clear: both;
}